<?xml version="1.0" encoding="UTF-8"?>

<events>

	<event id="0">
		<title>Doctor Groove e Silvia Bianco</title>
		<date>14 maggio 2014</date>
		<body>Brani inediti con la Silvia Bianco alla Voce.</body>
	</event>

	<event id="22">
		<title>Radio Risaia Sud a San Germano Vercellese (VC)</title>
		<date>09 Maggio 2009</date>
		<body>
			I doctor groove in versione Radiorisaia Sud saranno in versione live a San Germano Vercellese all'ex cinema, inizio spettacolo ore 21:00 vi aspettiamo!
		</body>
	</event>
	
	<event id="21">
		<title>Festa della Birra - Santhià (VC)</title>
		<date>14 Novembre 2008</date>
		<body>
			Festa della Birra - Santhià
			<br />
			Piazzale Kennedy
			<br />
			Santhià VC 13048
			<br />
			Festa della Birra organizzata dalla Banda Musicale Santhià
			<br />

		</body>
	</event>


	<event id="20">
		<title>Gas Pub - Ronsecco (VC)</title>
		<date>24 Ottobre 2008</date>
		<body>Gus Pub a Ronsecco V. ROMA 35 13036 Ronsecco VC ore 22:00</body>
	</event>


	<event id="19">
		<title>Area 24 Vercelli (VC)</title>
		<date>24 Luglio 2008</date>
		<body>Zona ex-montefibre (VC) ore 22:00</body>
	</event>

	<event id="18">
		<title>Maratona Rock Vercelli (VC)</title>
		<date>27 Aprile 2008</date>
		<body>I Doctor Groove parteciperanno alla Maratona Rock nell'ambito
			della manifestazione della "Maratona del Riso" proposta dal comune di
			Vercelli. Inizio spettacolo ore 21:30 piazza del duomo.0</body>
	</event>

	<event id="16">
		<title>Cinecittà a Santhià (VC)</title>
		<date>2 Novembre 2007</date>
		<body>Serata Live con Doctor Groove alCinecittà di Santhià (VC)</body>
	</event>


	<event id="15">
		<title>Cinecittà a Santhià (VC)</title>
		<date>1 Giugno 2007</date>
		<body>Serata Live con Doctor Groove alCinecittà di Santhià (VC)</body>
	</event>

	<event id="14">
		<title>Monte Gregorio a Brosso (TO)</title>
		<date>26 Maggio 2007</date>
		<body>Serata Live con Doctor Groove alla Trattoria Monte Gregorio a
			Brosso (TO) (sopra Ivrea) Piazza Sclopis, 7</body>
	</event>

	<event id="13">
		<title>Alagaeisa Pub - Salussola (BI)</title>
		<date>05 Maggio 2007</date>
		<body>
			Serata Live al Alagaeisa Pub di Salussola (BI)
			<br />
			<br />
			http://www.gasolineworld.net
		</body>
	</event>

	<event id="12">
		<title>Gasoline - Cerreto (BI)</title>
		<date>27 Aprile 2007</date>
		<body>
			Serata Live al Gasoline Road Bar a Cerreto Castello in provincia di
			Biella.
			<br />
			<br />
			http://www.gasolineworld.net
		</body>
	</event>

	<event id="11">
		<title>Area 24 (VC)</title>
		<date>15 Febbraio 2007</date>
		<body>Zona ex-montefibre (VC) ore 22:00</body>
	</event>


	<event id="10">
		<title>Area 24 (VC)</title>
		<date>14 Dicembre 2006</date>
		<body>Zona ex-montefibre (VC) ore 22:00</body>
	</event>


	<event id="9">
		<title>Concorso Onda Rock</title>
		<date>05 Novembre 2006</date>
		<body>Concorso Onda Rock presso lo Shake Pub di Fara Novarese. Inizio
			spettacolo ore 22.00. I Doctor Groove si sfideranno con altri 2
			gruppi e solo 2 di questi verranno selezionati per passare alla fase
			successiva del concorso. I metodi di votazione sono di due tipologie,
			la parte tecnica e il voto del pubblico, quindi vi aspettiamo
			numerosi per darci il vostro sostegno.</body>
	</event>


	<event id="8">
		<title>Monte Gregorio a Brosso (TO)</title>
		<date>09 Settembre 2006</date>
		<body>Serata Live con Doctor Groove alla Trattoria Monte Gregorio a
			Brosso (TO) (sopra Ivrea) Piazza Sclopis, 7</body>
	</event>


	<event id="7">
		<title>Area 24 (VC)</title>
		<date>01 Giugno 2006</date>
		<body>Zona ex-montefibre (VC) ore 22:00</body>
	</event>


	<event id="6">
		<title>Beto Music Festival (NO)</title>
		<date>20 Maggio 2006</date>
		<body>Nell'ambito del concorso Beto Music i Doctor Groove sono stati
			selezionati per parteciperanno alle finali presso il Locale Ipanema
			Club di Pisogno (NO)</body>
	</event>


	<event id="5">
		<title>Officine Sonore (VC)</title>
		<date>5 Maggio 2006</date>
		<body>Officine Sonore (VC) - ore 22:00</body>
	</event>


	<event id="4">
		<title>Vergasco (BI) - Festa in Piazza</title>
		<date>22 Aprile 2006</date>
		<body>Vergasco (BI) - Festa in Piazza - ore 22:00</body>
	</event>


	<event id="3">
		<title>Teatro Civico (VC)</title>
		<date>30 Novembre 2005</date>
		<body>Teatro Civico (VC) - Serata Live con i Radio Risaia Sud</body>
	</event>

	<event id="2">
		<title>Andrate (TO) - Festa in Piazza</title>
		<date>5 Agosto 2005</date>
		<body>Andrate (TO) - Festa in Piazza - Serata Live inizio ore 22:00
		</body>
	</event>


	<event id="1">
		<title>Brosso (TO) - Trattoria Monte Gregorio</title>
		<date>5 marzo 2005</date>
		<body>Brosso (TO) - Trattoria Monte Gregorio - Serata Live inizio ore
			22:00</body>
	</event>


</events>