.news {font-family:Verdana; font-size:12px; letter-spacing:1}

.live_voice{
	margin-left:4px;
	font-size:9px;
}

.live_voice a{
	text-decoration:none;
}
.live_voice a:hover{
	text-decoration:none;
}

.center_block{
}

.center_block a{
	text-decoration:none;
}
.center_block a:hover{
	text-decoration:none;
}


.news a { text-decoration:none;}
.news a:hover{ text-decoration:none;}

td {font-family:Verdana; font-size:13px; letter-spacing:2}

