.btn-primary {
  background-color: #de1717;
  border-color: #f25136;
}

@media (max-width: 767px) {
  .col-xs-3 { width: 48%; margin-bottom: 30px; }
}

@media (max-width: 380px) {
  .col-xs-3 { width: 100%; }
}